:root {
    --dark-forest: black;
    --bold-blue: #181DE7;
    --bloody-red: #7C0609;
}

header {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

header h1 {
    margin-bottom: 0%;
    font-size: 40px;
    text-shadow: 14px 8px 8px darkred;
}

header h2 {
    margin-top: 2mm;
    color: var(--bloody-red);
    font-family: 'Lucindatypewriter', monospace;
    font-size: 1.1em;
}

#Timer {
    background-color: aliceblue;
    margin: 2%;
    margin-bottom: 9%;
}

#Gameboard {
    width: 50em;
    height: 50em;
    margin: auto;
    justify-content: center;
}

table td {
    border: 3px black solid;
}
.cellStyle {
    width: 5em;
    height: 3.9em;
    background-color: var(--bold-blue);
    padding: 0;
    border-spacing: 0;
    border-collapse: separate;
}

#cell00 {
    border-right: 0;
    border-bottom: 0;
    background-color: red;
}

#cell01 {
    border-left: 0;
    border-right: 0;
    background-color: aqua;
}

#cell10 {
    border-top: 0;
    border-bottom: 0;
    background-color: thistle;
}

#cell20 {
    border-top: 0;
    border-right: 0;
    background-color: thistle;
}

#cell21 {
    border-left: 0;
    border-bottom: 0;
    background-color: thistle;
}

#cell31 {
    border-top: 0;
    border-bottom: 0;
    background-color: thistle;
}

#cell41 {
    border-top: 0;
    border-right: 0;
    background-color: thistle;
}

#cell42, #cell43, #cell44, #cell45 {
    border-left: 0;
    border-right: 0;
    background-color: thistle;
}

#cell46 {
    border-left: 0;
    border-bottom: 0;
    background-color: thistle;
}

#cell56 {
    border-top: 0;
    border-bottom: 0;
    background-color: thistle;
}

#cell66 {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: thistle;
}

#cell67 {
    border-left: 0;
    border-bottom: 0;
    background-color: thistle;
}

#cell77 {
    border-top: 0;
    border-right: 0;
    background-color: thistle;
}

#cell78 {
    border-left: 0;
    border-right: 0;
    background-color: thistle;
}

#cell79 {
    border-left: 0;
    border-bottom: 0;
    background-color: thistle;
}

#cell89 {
    border-top: 0;
    border-bottom: 0;
    background-color: thistle;
}

#cell99 {
    border-top: 0;
    border-right:0;
    background-color: thistle;
}

#cell910 {
    border-left: 0;
    border-bottom: 0;
    background-color: thistle;
}

#cell1010 {
    border-top: 0;
    background-color: var(--bloody-red);
}

#cell02, #cell03, #cell04 {
    border-left: 0;
    border-right: 0;
    background-color: aqua;
}

#cell05 {
    border-left: 0;
    border-bottom: 0;
    background-color: aqua;
}

#cell15 {
    border-top: 0;
    border-left: 0;
    background-color: aqua;
}

#cell14, #cell13 {
    border-right: 0;
    border-left: 0;
    background-color: aqua;
}

#cell12 {
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    background-color: aqua;
}

#cell11 {
    border-right: 0;
    background-color: aqua;
}

#cell22 {
    border-top: 0;
    border-bottom: 0;
    background-color: aqua;
}

#cell32 {
    border-top: 0;
    border-right: 0;
    background-color: aqua;
}

#cell33 {
    border-left: 0;
    border-top: 0;
    background-color: aqua;
}

#cell23 {
    border-bottom: 0;
    border-right: 0;
    background-color: aqua;
}

#cell24 {
    border-left: 0;
    border-bottom: 0;
    background-color: aqua;
}

#cell34 {
    border-top: 0;
    border-right: 0;
    background-color: aqua;
}

#cell35 {
    border-left: 0;
    border-top: 0;
    background-color: aqua;
}

#cell25 {
    border-bottom: 0;
    border-right: 0;
    background-color: aqua;
}

#cell26{
    border-left: 0;
    border-top: 0;
    background-color: aqua;
}

#cell16 {
    border-bottom: 0;
    border-top: 0;
    background-color: aqua;
}

#cell06 {
    border-bottom: 0;
    border-right: 0;
    background-color: aqua;
}

#cell07, #cell08, #cell09 {
    border-left: 0;
    border-right: 0;
    background-color: aqua;
}

#cell010 {
    border-left: 0;
    border-bottom: 0;
    background-color: aqua;
}

#cell110 {
    border-top: 0;
    border-left: 0;
    background-color: aqua;
}

#cell19, #cell18 {
    border-right: 0;
    border-left: 0;
    background-color: aqua;
}

#cell17 {
    border-right: 0;
    border-bottom: 0;
    background-color: aqua;
}

#cell27 {
    border-top: 0;
    border-right: 0;
    background-color: aqua;
}

#cell28, #cell29 {
    border-left: 0;
    border-right: 0;
    background-color: aqua;
}

#cell210 {
    border-left: 0;
    border-bottom: 0;
    background-color: aqua;
}

#cell310 {
    border-top: 0;
    border-left: 0;
    background-color: aqua;
}

#cell39, #cell38 {
    border-right: 0;
    border-left: 0;
    background-color: aqua;
}

#cell37 {
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    background-color: aqua;
}

#cell36 {
    border-right: 0;
    background-color: aqua;
}

#cell47 {
    border-top: 0;
    border-right: 0;
    background-color: aqua;
}

#cell48, #cell49 {
    border-left: 0;
    border-right: 0;
    background-color: aqua;
}

#cell410 {
    border-left: 0;
    border-bottom: 0;
    background-color: aqua;
}

#cell510 {
    border-top: 0;
    border-left: 0;
    background-color: aqua;
}

#cell59 {
    border-right: 0;
    border-left: 0;
    background-color: aqua;
}

#cell58 {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    background-color: aqua;
}

#cell57 {
    border-right: 0;
    background-color: aqua;
}

#cell68 {
    border-top: 0;
    border-right: 0;
    background-color: aqua;
}

#cell69 {
    border-left: 0;
    border-right: 0;
    background-color: aqua;
}

#cell610 {
    border-left: 0;
    border-bottom: 0;
    background-color: aqua;
}

#cell710 {
    border-top: 0;
    border-bottom: 0;
    background-color: aqua;
}

#cell810 {
    border-top: 0;
    background-color: aqua;
}

#cell65 {
    border-right: 0;
    border-top:0;
    border-bottom: 0;
}

#cell55 {
    border-bottom: 0;
    border-left: 0;
}

#cell54, #cell53, #cell52, #cell51 {
    border-right: 0;
    border-left: 0;
}

#cell50 {
    border-right: 0;
    border-top: 0;
}

#cell40 {
    border-bottom: 0;
    border-top: 0;
}

#cell30 {
    border-bottom: 0;
}

#cell75 {
    border-top: 0;
    border-right: 0;
}

#cell76 {
    border-left: 0;
    border-bottom: 0;
}

#cell86, #cell96 {
    border-top: 0;
    border-bottom: 0;
}

#cell106 {
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

#cell107 {
    border-left: 0;
    border-top: 0;
}

#cell97, #cell98 {
    border-top: 0;
    border-bottom: 0;
}

#cell87 {
    border-bottom: 0;
    border-right: 0;
}

#cell88 {
    border-left: 0;
    border-bottom: 0;
}

#cell108 {
    border-top: 0;
    border-right: 0;
}

#cell109 {
    border-left: 0;
}

#cell105, #cell104, #cell103, #cell102, #cell101 {
    border-right: 0;
    border-left: 0;
}

#cell100 {
    border-right: 0;
    border-top: 0;
}

#cell90 {
    border-bottom: 0;
    border-top: 0;
}

#cell80 {
    border-bottom: 0;
    border-right: 0;
}

#cell81 {
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
}

#cell91 {
    border-top: 0;
}

#cell71 {
    border-bottom: 0;
    border-top: 0;
}

#cell61 {
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
}

#cell60 {
    border-right: 0;
    border-bottom: 0;
}

#cell70 {
    border-top: 0;
}

#cell62, #cell63 {
    border-left: 0;
    border-right: 0;
}

#cell64 {
    border-left: 0;
    border-bottom: 0;
}

#cell74 {
    border-top: 0;
    border-left: 0;
}

#cell73 {
    border-right: 0;
    border-left: 0;
}

#cell72 {
    border-right: 0;
    border-bottom: 0;
}

#cell82 {
    border-top: 0;
    border-right: 0;
}

#cell83, #cell84, #cell94, #cell93 {
    border-left: 0;
    border-right: 0;
}

#cell85 {
    border-left: 0;
    border-bottom: 0;
}

#cell95 {
    border-top: 0;
    border-left: 0;
}

#cell92 {
    border-right: 0;
}



body {
    background-color: var(--dark-forest);
    font-family:'Lucinda Console', monospace;
    text-align: center;
    margin-top: 0;
    color: var(--bold-blue);

}

main {
    margin-top: 25%;
}

footer {
    margin-top: 50%;
}