:root {
    --dark-forest: black;
    --bold-blue: #181DE7;
    --bloody-red: #7C0609;
}

header {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

header h1 {
    margin-bottom: 0%;
    font-size: 40px;
    text-shadow: 14px 8px 8px darkred;
}

header h2 {
    margin-top: 2mm;
    color: var(--bloody-red);
    font-family: 'Lucindatypewriter', monospace;
    font-size: 1.1em;
}

#Timer {
    background-color: aliceblue;
    margin: 2%;
    margin-bottom: 9%;
}

#Gameboard {
    width: 50em;
    height: 50em;
    margin: auto;
    justify-content: center;
}

table td {
    border: 2px red solid;
}
.cellStyle {
    width: 5em;
    height: 3.9em;
    background-color: white;
    padding: 0;
    border-spacing: 0;
    border-collapse: separate;
}


#00 {
    border-right: none;
}
#01 {
    border-left: none;
}

body {
    background-color: var(--dark-forest);
    font-family:'Lucinda Console', monospace;
    text-align: center;
    margin-top: 0;
    color: var(--bold-blue);

}

main {
    margin-top: 25%;
}

footer {
    margin-top: 50%;
}