:root {
    --dark-forest: black;
    --bold-blue: #181DE7;
    --bloody-red: #7C0609;
}

header {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

header h1 {
    margin-bottom: 0%;
    font-size: 40px;
    text-shadow: 14px 8px 8px darkred;
}

header h2 {
    margin-top: 2mm;
    color: var(--bloody-red);
    font-family: 'Lucindatypewriter', monospace;
    font-size: 1.1em;
}

#Timer {
    background-color: aliceblue;
    margin: 2%;
    margin-bottom: 9%;
}

#Gameboard {
    width: 50em;
    height: 50em;
    margin: auto;
    padding: 0;
    justify-content: center;
}

table td {
    border: 4px black solid;
}
.cellStyle {
    width: 5em;
    height: 3.9em;
    background-color: var(--bold-blue);
    padding: 0;
    border-spacing: 0;
    border-collapse: separate;
}

#cell00, #cell06, #cell17, #cell23, #cell25, #cell60, #cell72, #cell80, #cell87 {
    border-right: 0;
    border-bottom: 0;
}

#cell01, #cell42,#cell43,#cell44,#cell45,#cell78,#cell02,#cell03,#cell04,#cell14,#cell13,#cell07,#cell08,#cell09,#cell19,#cell18,#cell28,#cell29,#cell39,#cell38,#cell48,#cell49,#cell59,#cell69,#cell54,#cell53,#cell52,#cell51,#cell105,#cell104,#cell103,#cell102,#cell101,#cell62,#cell63,#cell73,#cell83,#cell84,#cell94, #cell93 {
    border-left: 0;
    border-right: 0;
}

#cell10,#cell31,#cell56,#cell89,#cell22,#cell16,#cell710,#cell40,#cell86,#cell96,#cell97,#cell98,#cell90,#cell71 {
    border-top: 0;
    border-bottom: 0;
}

#cell20,#cell41,#cell77,#cell99,#cell32,#cell27,#cell50,#cell108,#cell100, #cell82 {
    border-top: 0;
    border-right: 0;
}

#cell21,#cell46,#cell67,#cell79,#cell910,#cell05,#cell24,#cell010,#cell210,#cell410,#cell610,#cell55,#cell88,#cell64,#cell85, #cell76 {
    border-left: 0;
    border-bottom: 0;
}

#cell81 {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}

#cell1010,#cell810,#cell91,#cell70 {
    border-top: 0;
}

#cell15,#cell33,#cell35,#cell26,#cell110,#cell310,#cell510,#cell107,#cell74,#cell95 {
    border-top: 0;
    border-left: 0;
}

#cell12,#cell37,#cell58,#cell61 {
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
}

#cell11,#cell36,#cell57,#cell92 {
    border-right: 0;
}

#cell34,#cell47,#cell68,#cell75 {
    border-top: 0;
    border-right: 0;
}

#cell65 {
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
}

#cell30 {
    border-bottom: 0;
}

#cell106, #cell66 {
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

#cell109 {
    border-left: 0;
}

#cell00, #cell1010 {
    background-color: var(--bloody-red);
}
body {
    background-color: var(--dark-forest);
    font-family:'Lucinda Console', monospace;
    text-align: center;
    margin-top: 0;
    color: var(--bold-blue);

}

#finishGame {
    display: none;
}
main {
    margin-top: 25%;
}

footer {
    margin-top: 50%;
}